/* needs background video something like constellation. what about a UI that makes constellations each time user adds something. a new idea creats new constellation in Ui. store the ideas in firestore. */
.H-input{
    color: black;
}
.H-Title{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* border:3px solid black; */

}


.H-container{
    display:flex;
    flex-direction: row;
    border:3px solid black;
    
}

.H-enter{
    display:flex;
    justify-content: center;
    align-self: start;
    border:3px solid black;

}

.H-hobby{
border:3px solid black;

}
