.I-bgvid{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
    object-fit:cover;
}


.i-container1{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.i-h1{
color: rgb(77, 67, 218);
z-index: 2;
font-size: 45px;
text-shadow: -4px -3px 0 #e67be0;

}

.i-list{
    font-size: 23px;
    color: white;
    font-weight: bold;
}

.i-list:hover{
    color:#e879f9;
}

.bubble-container{
    position:relative;
    width:100%;
    height:75vh;
    overflow:hidden;
}


.sidebar{
    position:fixed;
    top:0;
    right:0;
    display:flex;
    flex-direction: column;
    width: 340px;
    height:100vh ;
    background:rgba(0,0,0,0,0.85);
    backdrop-filter:blur(10px);
    border-radius: 40px 0 0 40px;
    color:white;
    padding:25px;
    z-index:100;
    overflow-y:auto;
}

.close.btn{
    align-self:flex-end;
    border:none;
    background:none;
    color:white;
    font-size:24px;
    cursor:pointer;
}

.sidebar-actions{
    margin-top: 20px;;
    display: flex;
    gap:15px;
}

.i-edit-btn, .i-delete-btn{
    flex:1;
    padding:10px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}
.sidebar{
    animation:slideIn .3s ease;
}
@keyframes slideIn{
    from{
        transform:translateX(100%);
    }
    to{
        transform:translateX(0);
    }
}